
.info-basic {
    height: 400px;
    max-width: 320px;
}



.fav:hover svg {
    color: #f00 !important;
}

.favSearch:hover svg {
    color: #5B2C6F !important;
}

.img-info {
    width: calc(50% - 0.5rem);
}



/* Elements/ImagesProduct */

.img-object {
    object-position: 0 -1rem;
}

@media (min-width: 640px) {
    .img-object {
        object-position: 0 -1rem;
    }
}

@media (min-width: 768px) {
    .img-object {
        object-position: 0 -2rem;
    }
}

@media (min-width: 1024px) {
    .img-object {
        object-position: 0 -4rem;
    }
}

